/* 共通部分 start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
  min-height: 100vh;
}

h1, h2, h3 {
  letter-spacing: 0.05em;
}

.flexbox {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  justify-content: space-around;
}

.fixed-bg {
  min-height: 650px;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-img h1,
.sub-img h1,
.sub-img2 h1 {
  font-size: 64px;
  font-family: 'Caveat', cursive;
}

.main-img p,
.sub-img p,
.sub-img2 p {
  font-size: 20px;
  margin-top: 50px;
}

.gallery-content h2,
.profile-content h2,
.contact-content h2 {
  margin-top: 20px;
  padding-top: 50px;
  font-size: 32px;
  display: inline-block;
  position: relative;
}

.gallery-content h2::before,
.profile-content h2::before,
.contact-content h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #EC715F;
}

.main-img-text,
.sub-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* 共通部分 end */
/* header start */
.inner {
  width: 980px;
  margin: 0 auto;
}

.inner:after {
  content: "";
  clear: both;
  display: block;
}

#top-head {
  top: -100px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  padding: 30px 0 0;
  line-height: 1;
  z-index: 999;
}

#top-head a,
#top-head {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}

#top-head .inner {
  position: relative;
}

#top-head .logo {
  display: flex;
  display: -webkit-flex;
  font-size: 36px;
  font-family: 'Cherry Swash', cursive;
}

.global-nav ul {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  display: flex;
  display: -webkit-flex;
}

.global-nav ul li a {
  padding: 0 30px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.global-nav ul li a::after {
  position: absolute;
  bottom: -10px;
  left: 20px;
  content: '';
  width: 60%;
  height: 2px;
  background-color: #000;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.global-nav ul li a:hover::after {
  transform: scale(1, 1);
}

#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 55px;
  background: #fff;
  background: rgba(255, 255, 255, .7);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
  font-size: 24px;
  color: #000;
  font-family: 'Cherry Swash', cursive;
}

#top-head.fixed .global-nav ul li a {
  color: #000;
  padding: 0 20px;
  z-index: 5;
}

.nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}

.nav-toggle div {
  position: relative;
}

.nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #666;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.nav-toggle span:nth-child(1) {
  top: 0;
}

.nav-toggle span:nth-child(2) {
  top: 11px;
}

.nav-toggle span:nth-child(3) {
  top: 22px;
}

/* header end */
/* メイン画像 start */
.main-img {
  width: 100%;
  background-image: url(../img/cup-of-coffee.jpg);
  position: relative;
  z-index: 0;
  text-align: center;
}

/* メイン画像 end */
/* sub画像 start */
.sub-img {
  width: 100%;
  background-image: url(../img/traveler.jpg);
  position: relative;
  z-index: 0;
  text-align: center;
}

.sub-img2 {
  width: 100%;
  background-image: url(../img/rake.jpg);
  position: relative;
  z-index: 0;
  text-align: center;
}

/* sub画像 end */
/* メインコンテンツ(Plofile) start */
.profile {
  background-color: #ECEFF1;
  padding-bottom: 60px;
}

.profile-content p {
  margin: 30px 0;
  font-size: 16px;
}

.profile-content {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.profile-img {
  margin-left: 80px;
  margin-top: 80px;
  max-width: 512px;
}

.profile-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.8;
}

.profile-text {
  max-width: 512px;
  margin-right: 50px;
}

.profile-text h3 {
  margin-bottom: 5px;
  letter-spacing: 0.1em;
}

.profile-text h3:first-child {
  margin-top: 30px;
}

.profile-text h3:nth-child(3) {
  margin-top: 20px;
}

.profile-text h3:nth-child(5) {
  margin-top: 20px;
}

.profile-text p {
  margin: 0;
}

.profile-text img {
  height: 50px;
  margin: 5px;
}

.profile-text p {
  letter-spacing: 0.1em;
}

.profile-text h3 {
  margin-top: 15px;
}

/* メインコンテンツ(Plofile) end */
/* メインコンテンツ(Gallery) start */
.gallery {
  background-color: pink;
}

.gallery-content {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

.gallery-content p {
  margin: 30px 0;
  font-size: 16px;
}

.gallery-img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0px;
  filter: drop-shadow(4px 4px 4px #000);
}

.list {
  display: flex;
  display: -webkit-flex;
  max-width: 100%;
  list-style: none;
  -webkit-flex-wrap: wrap;
}

.list li {
  margin: 5px;
}

/* メインコンテンツ(Gallery) end */
/* メインコンテンツ(Contact) start */
.contact {
  background-color: #ECEFF1;
  padding-bottom: 60px;
}

.contact-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

/* form start */
.lead-form {
  text-align: center;
  font-size: 20px;
}

form {
  width: 500px;
  margin: 0 auto;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.label {
  float: left;
  margin-right: 20px;
  width: 140px;
  padding-left: 10px;
}

.inputs {
  float: left;
  width: 300px;
}

input[type="text"], input[type="email"], input[type="tel"] {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.btn-area {
  text-align: center;
}

input[type="submit"] {
  display: inline-block;
  padding: 1em 1em;
  text-decoration: none;
  background-color: #668ad8;
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

input[type="submit"]:active,
input[type="reset"]:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

input[type="reset"] {
  display: inline-block;
  padding: 1em 1em;
  margin-left: 15px;
  margin-top: -5px;
  text-decoration: none;
  background-color: silver;
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.contact-form {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
  background-color: #fff;
  opacity: 0.8;
}

.btn-area {
  margin: 30px;
}

.color {
  color: red;
  margin-top: -15px;
}

.input_design {
  border: 1px solid red;
}

/* form end */
.contacts h3 {
  margin-right: 60px;
}

.contacts a {
  text-decoration: none;
  color: #000;
}

.contacts a:hover {
  opacity: 0.5;
}

.contacts,
.contact-text {
  width: 400px;
}

.contact-text a {
  list-style: none;
}

.contact-content p {
  margin: 30px 0;
  font-size: 16px;
}

.contacts p,
.contacts a {
  margin: 5px 0 5px 30px;
}

/* メインコンテンツ(Contact) end */
/* SNS start */
.contact-text {
  position: relative;
}

.sns a:hover {
  opacity: 0.6;
}

.sns {
  position: absolute;
  right: 0;
  bottom: 0;
}

.sns p {
  margin: 5px 0;
}

.sns h3 {
  text-align: left;
  margin-left: 15px;
}

.sns a {
  text-decoration: none;
  color: #000;
}

.insta-color {
  color: #bc2a8d;
}

.twitter-color {
  color: #1DA1F2;
}

.facebook-color {
  color: #4267B2;
}

i {
  margin: 10px;
}

.slide-left {
  height: 500px;
  width: 500px;
  background-color: red;
}

.fadein li {
  margin: 15px;
  float: left;
  visibility: hidden;
}

/* SNS end */
/* footer start */
footer {
  background-color: #000;
  height: 60px;
  text-align: center;
}

footer p {
  font-size: 16px;
  color: #fff;
  line-height: 60px;
}

/* footer end */
/* レスポンシブ対応 start */
@media screen and (max-width:639px) {
  .fixed-bg {
    background-attachment: local;
  }

  .main-img {
    margin-top: 0;
    max-width: 100%;
  }

  .main-img p,
  .sub-img p {
    margin-top: 230px;
    width: 210px;
  }

  .sub-img2 p {
    margin-top: 160px;
  }

  .sub-img {
    background-position: -450px 0;
    max-width: 100%;
  }

  .sub-img2 {
    background-position: -500px 0;
    max-width: 100%;
  }

  .profile {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .profile-img {
    margin: 0;
  }

  .profile-img p {
    margin-top: 5px;
  }

  .profile-text {
    margin: 0;
  }

  .list {
    justify-content: center;
  }

  .gallery-img {
    max-width: 100%;
  }

  .contact {
    padding-bottom: 5px;
  }

  .contacts p,
  .contacts a,
  .contacts h3 {
    margin: 0;
    padding: 5px;
  }

  .contact-content p {
    margin: 10px 0;
  }

  .contact-text {
    position: inherit;
    text-align: center;
    margin-top: 30px;
  }

  .sns {
    position: inherit;
  }

  .sns h3 {
    text-align: center;
    margin-left: 0;
  }

  #top-head,
  .inner {
    width: 100%;
    padding: 0;
  }

  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }

  .top-head.fixed {
    padding-top: 0;
    background: transparent;
  }

  .mobile-head {
    background: #fff;
    width: 100%;
    height: 56px;
    z-index: 999;
    position: relative;
  }

  #top-head.fixed {
    padding-top: 0;
  }

  #top-head.fixed .logo,
  #top-head .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 26px;
  }

  .global-nav {
    position: absolute;
    top: -500px;
    background: #333;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  .global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 14px;
    -webkit-flex-direction: column;
  }

  .global-nav ul li {
    position: static;
  }

  #top-head .global-nav ul li a,
  #top-head.fixed .global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 18px 0;
  }

  .nav-toggle {
    display: block;
  }

  .open .nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .open .nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }

  .open .nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  .open .global-nav {
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }

  .global-nav ul li a::after {
    left: 170px;
    width: 10%;
    bottom: -2px;
    background: #fff;
  }

  form {
    max-width: 350px;
  }

  .inputs,
  .label {
    float: none;
    display: flex;
    flex-direction: column;
  }

  .label {
    width: inherit;
    padding-left: 0;
    margin: 10px 0;
  }

  .btn-area {
    max-width: 200px;
    margin: 20px auto !important;
  }

  .item {
    max-width: 300px;
    margin-bottom: 0;
    margin: 0 auto;
  }

  .color,
  .profile-text h3:first-child {
    margin-top: 0;
  }
}

/* レスポンシブ対応 end */
